// Welcome
$background-color: #00BCD2;
$background-color2:rgba(43, 93, 128, 0.6);
$auth-big-btn-bg: #FFF;
$auth-small-btn-color: #FFF;
$facebook-blue: #294886;
$welcome-color: #FFFFFF;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$RobotoDraftFontPath: "../lib/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";

@import "www/lib/robotodraft/sass/robotodraft.scss";    // REMINDER: edit as appropriate!

.welcome-view{
	// background-color: $background-color;
	background-image:url('../img/bg_login.png');
  background-size: cover;
  .bg_white{
    background-color: rgba(255, 255, 255, 0.12);
    width: auto;
    height: 100%;
    z-index: 1;
  }
  ion-content{
    z-index: 2;
  }
	.top-content{
		.app-copy{
			text-align: center;
			padding-top: 8vh;
		}

		.app-logo{
			font-size: 40px;
			font-family: sans-serif;
			font-weight: 600;
			color: $welcome-color;
			letter-spacing: 8px;
			margin-bottom: 0px;
			background-image: url('../img/logo.png');
	    height: 12vh;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
		}		
		.app-tagline{
			font-size: 26px;
			margin-top: 0px;
			font-weight: 500;
			color: rgba($welcome-color, 0.95);
		}
	}
	.authFields{
		display: block;
		padding: 11vh 25px 5vh;
		.loginTab{
			display: inline-block;
			width: 100%;
			.userTab, .monkTab{
				display: inline-block;
				padding: 8px 20px;
		    border-style: solid;
		    border-color: #888;
		    border-width: 1.5px 1.5px 0px 1.5px;
		    color: #fff;
    		font-size: 17px;
    		margin-bottom: -0px;
		    &.active{
		    	background-color:$background-color2;
		    }
			}
		}
		.registerWithUs{
	    float: right;
	    margin-top: 35px;
	    color: #fff;
	    text-decoration: none;
	    white-space: nowrap;
		}
		.inputFields{
			border:1px solid #888;
			background-color: $background-color2;
			padding: 20px;
	    border-top-width: 0px;
    	position: relative;
			&:after {
		    content: '';
		    background-color: #888;
		    width: 47%;
		    height: 1px;
		    position: absolute;
		    top: 0;
		    right: 0;
			}
			label{
				margin: 0px;
				border:none;
		    padding: 4vh 0px 0px;
		    line-height: 30px;
		    margin-top: 10px;
				.md-input{
					background-color: transparent;
					&:focus~.highlight{
						background-color:$background-color;
					}
					&:focus~.input-label{
				    -webkit-transform: translate3d(0,-60px,0) scale(.9);
				    transform: translate3d(0,-60px,0) scale(.9);
				    opacity: 1;
				    line-height: 35px;
					}
				}
				.input-label{
			    -webkit-transform: translate3d(0,-38px,0) scale(1);
    			transform: translate3d(0,-38px,0) scale(1);
    			padding: 0px !important;
				}
				.highlight-custom{
					background-color:#fff;
					left: -1px;
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}
			}	
		}
	}

	.bottom-content{
		.facebook-sign-in{
			border-radius: 4px;
			font-weight: 500;
			color: $auth-small-btn-color;
			background-color: $facebook-blue;
			border-color: darken($facebook-blue, 2);
			margin-top: 0px;
		}
	}
}
.item-md-label input {
  background-color: rgba(0,0,0,.6);
  bottom: 0;
  color: #fff;
  letter-spacing: .25rem;
  padding: 18.5px 10px;
  position: relative;
  z-index: 1;
}
.item-md-label .input-label {
  letter-spacing: .25rem;
  opacity: 1 !important;
  filter: alpha(opacity=100);
  color: #fff !important;
  padding: 3px 6px 0 !important;
}
.button-custom{
	padding: 0px 23px;
  margin-top: 35px;
  background-color: $background-color;
  border-color: transparent;
  color: #fff;
  &.active, &.activated {
    border-color: transparent;
    background-color: inherit;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0);
	}
}
.home-view{
	.has-header{
		// top:30px;
	}
	.yprofile{
		height: 150px;
		background-color:#577E9A;
		padding: 12px 0px 0px;
		.pofilePic{
			text-align: left;
			padding-left: 15px;
    	padding-top: 15px;
    	height: 100%;
	  	.avatar{
				height: 75px;
				width: 75px;
				// background-image: url('../img/default.jpg');
				// background-size:contain;
				display: inline-block;
		    background-color: #fff;
		    text-align: center;
		    font-size: 70px;
		    color: #577E9A;
		    border-radius: 3px;
			}
			.profileEdit{
		    position: absolute;
    		display: inline-block;
		    right: 25px;
		    top: 5px;
		    font-size: 20px;
			}
		}
		.yAnswerStatus{
	    display: inline-block;
	    font-size: 20px;
	    width: 65%;
	    line-height: 28px;
	    vertical-align: top;
	    margin-left: 20px;
		}
		.yRating{
			i{
	    	color: #DC4C18;
	    }
		}
	}
}
.bar-assertive-900{
	box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
	background-color: $background-color;
	.button{
		color:#000;
		border-width: 1px 14px 1px 14px;
    border-style: solid;
    border-color: transparent;
	}

}
.logoSideMenu{
  background-image: url('../img/logo.png');
  width: 100%;
  height: 90%;
  background-size: contain;
  display: inline-block;
  margin-top: 1px;
  background-position:center;
  background-repeat:no-repeat;
}
.menu{
	border:none;
	.item-content{
		padding:0px 0px 0px 15px;
	}
	span{
		font-size: 16px;
		i{
			font-size: 26px;
    	padding-right: 25px;
    	padding-left: 13px;
    	vertical-align: middle;
		}
	}
	.menuList{
		padding: 20px 20px 20px 2px;
    display: inline-block;
    border-bottom: 2px solid rgba(220, 220, 220, 0.5);
    width: 100%;
	}
}

.menu.profile span i {
	color:#F10100;
}
.menu.dashboard span i {
	color:#F6D669;
}
.menu.pament span i {
	color:#DD7B60;
}
.menu.offers span i {
	color:#30B195;
}
.menu.yprofile span i {
	color:#67D5E4;
}
.menu.setting span i {
	color:#9389FF;
}

.profileData{
	display:inline-block;
  padding-top: 15px;
  top:200px;
}
dl{
	width:100%;
	font-size:16px;
	dt{
		width: 100px;
    display: inline-block;
    padding-left:10px;
    vertical-align: top;
	}
	dd{
		display: inline-block;
		width: -moz-calc(100% - 105px);
    width: -webkit-calc(100% - 105px);
    width: calc(100% - 105px);
	}
}

.bar.sideMenuTop{
	background-image: url('../img/default.jpg');
  background-size: inherit;
  height: 194px;
  display: inline-block;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  z-index: 10;
}
.shortSideMenuProfile{
  position: absolute;
  display: inline-block;
  z-index: 11;
  width: 100%;
	.sProfilePic{
		height: 80px;
		width: 80px;
		background-image: url('../img/default.jpg');
		background-size:contain;
		border-radius:50%;
		margin: 40px 10px 0px 20px;
		background-color: #577E9A;
    color: #fff;
    font-size: 35px;
    border: 5px solid #fff;
    display: inline-block;
	}
	.sProfileName{
  	margin: 70px 0px;
  	font-size: 20px;
  	color: #fff;
  	width: 160px;
  	display: inline-block;
  	vertical-align: top;
  }
}
ion-side-menu .has-header{
	top:194px;
}
