// Welcome
$background-color: #00BCD2;
$background-color2:rgba(43, 93, 128, 0.6);
$auth-big-btn-bg: #FFF;
$auth-small-btn-color: #FFF;
$facebook-blue: #294886;
$welcome-color: #FFFFFF;
$top-portion-color: #2B5D80;
$anchor-color:#1464F6;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/ion-md-input/ion-md-input";
$RobotoDraftFontPath: "../lib/robotodraft/fonts"; // REMINDER: edit as appropriate!
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";
@import "www/lib/robotodraft/sass/robotodraft";    // REMINDER: edit as appropriate!
//@import "www/lib/mfb/mfb";

.welcome-view{
	background-image:url('../img/bg_login/bg_login-5x.png');
	background-size: cover;
	.bg_white{
		background-color: rgba(255, 255, 255, 0.12);
		width: auto;
		height: 100%;
		z-index: 1;
	}
	ion-content{
		z-index: 2;
	}
	.top-content{
		.app-copy{
			text-align: center;
			padding-top: 8vh;
		}

		.app-logo{
			font-size: 40px;
			font-family: sans-serif;
			font-weight: 600;
			color: $welcome-color;
			letter-spacing: 8px;
			margin-bottom: 0px;
			background-image: url('../img/logo.png');
			height: 12vh;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}		
		.app-tagline{
			font-size: 26px;
			margin-top: 0px;
			font-weight: 500;
			color: rgba($welcome-color, 0.95);
		}
	}
	.authFields{
		display: block;
		padding: 11vh 25px 5vh;
		.loginTab{
			display: inline-block;
			width: 100%;
			.userTab, .monkTab{
				display: inline-block;
				padding: 8px 20px;
				border-style: solid;
				border-color: #888;
				border-width: 1.5px 1.5px 0px 1.5px;
				color: #fff;
				font-size: 17px;
				margin-bottom: -0px;
				&.active{
					background-color:$background-color2;
				}
			}
		}
		.registerWithUs{
			float: right;
			margin-top: 45px;
			color: #fff;
			text-decoration: none;
			white-space: nowrap;
		}
		.inputFields{
			border:1px solid #888;
			background-color: $background-color2;
			padding: 20px;
			border-top-width: 0px;
			position: relative;
			&:after {
				content: '';
				background-color: #888;
				width: 47%;
				height: 1px;
				position: absolute;
				top: 0;
				right: 0;
			}
			&.signUptab:after{
				content: '';
				background-color: #888;
				width: 76%;
				height: 1px;
				position: absolute;
				top: 0;
				right: 0;
			}
			label{
				margin: 0px;
				border:none;
				padding: 4vh 0px 0px;
				line-height: 30px;
				margin-top: 10px;
				.md-input{
					&:focus~.highlight{
						background-color:$background-color;
					}
					&:focus~.input-label, &.used~.input-label{
						-webkit-transform: translate3d(0,-60px,0) scale(1);
						transform: translate3d(0,-60px,0) scale(1);
						font-size: 14px;
						opacity: 1;
						line-height: 35px;
					}
				}
				.input-label{
					-webkit-transform: translate3d(0,-38px,0) scale(1);
					transform: translate3d(0,-38px,0) scale(1);
					letter-spacing: 2px;
					opacity: 1 !important;
					filter: alpha(opacity=100);
					color: #fff !important;
				}
				.highlight-custom{
					background-color:#fff;
					left: -1px;
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
					height: 1px;
				}
			}	
		}
	}

	.bottom-content{
		.facebook-sign-in{
			border-radius: 4px;
			font-weight: 500;
			color: $auth-small-btn-color;
			background-color: $facebook-blue;
			border-color: darken($facebook-blue, 2);
			margin-top: 0px;
		}
	}
}
.item-md-label input {
	color: #fff;
	letter-spacing: 2px;
}
.button.button-custom{
	padding: 1px 23px;
	margin-top: 35px;
	background-color: $background-color;
	border-color: transparent;
	color: #fff;
	border-radius:0px;
	font-size:15px;
	&.active, &.activated {
		border-color: transparent;
		background-color: $background-color;
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0);
	}
}
.button.button-custom-small{
		padding: 4px 13px;
		min-width: 28px;
		min-height: 30px;
		font-size: 12px;
		line-height: 26px;
		border-radius:0px;
		&.active, &.activated {
			border-color: transparent;
			background-color: $background-color;
			box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0);
		}
		.dateObject{
	    float: left;
    	font-size: 15px;
		}
		.ion-android-calendar{
			margin-left: 12px;
	    font-size: 25px;
    	float: right;
		}
}
.button.button-askmonk{
	border-color: $background-color;
	background-color: $background-color;
	color: #fff;
	border-radius:0px !important;
}
.ion-social-usd{
  font-size: 23px;
  color: rgb(0, 0, 0) !important;
  padding: 0px 19px;
}
.home-view{
	.yprofile{
		height: 150px;
		background-color:$top-portion-color;
		padding: 17px 0px 0px;
		.pofilePic{
			text-align: left;
			height: 100%;
			padding:0px 23px;
			color: #fff;
			.avatar{
				height: 75px;
				width: 75px;
				display: inline-block;
				background-color: transparent;
				text-align: center;
				font-size: 70px;
				color: $top-portion-color;
				border-radius:50%;
				vertical-align: top;
			}
		}
		.yAnswerStatus{
			display: inline-block;
			font-size: 20px;
			width: 65%;
			line-height: 25px;
			margin-left: 20px;
			white-space: nowrap;
			.profileEditBtn{
		    min-height: 0px;
		    line-height: 22px;
		    margin-top: 5px;
        font-size: 16px;
        display: block;
        width: 100%;
        padding:3px 13px;
		    .ion-edit{
		    	color: #000;
    			float: left;
		    }
			}
		}
		.userName{
	    text-transform: capitalize;
		  margin-top: 15px;
		  font-size: 16px;
		  display: inline-block;
		  white-space: nowrap;
      text-align: center;
    	width: 75px;
		}
		.yRating{
			i{
				color: #DC4C18;
			}
		}
	}
	.dashboard{
		height: 98px;
		background-color:$top-portion-color;
		padding: 17px 0px 0px;
		.yAnswerStatus{
			width: auto;
			margin-left: 0px;
		}
		.pofilePic{
			.avatar{
				height: 40px;
				width: 40px;
				font-size: 40px;
				vertical-align: middle;
			}
			.item-search{
				height: 40px;
    		margin: 17px -23px 0px;
    		border-bottom: 1px solid;
    		padding-left: 21px;
    		padding-right: 21px;
    		&:before {
			    content: "ï‹µ";
			    display: inline-block;
			    font-family: "Ionicons";
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    margin-right: 10px;
			    font-size: 22px;
				}
				.placeholder-icon{
					 font-size: 22px;
					 color: #000;
				}
    		input{
    			&::-webkit-input-placeholder {
				  	font-style: italic;
				  	font-size: 18px;
					}
					&:-moz-placeholder {
				  	font-style: italic;
				  	font-size: 18px;
					}
					&::-moz-placeholder {
					  font-style: italic;
					  font-size: 18px;
					}
					&:-ms-input-placeholder {  
					  font-style: italic;
					  font-size: 18px;
					}
    		}
			}
		}
	}
	.dashboardData{
		display: inline-block;
    padding-top: 0px;
    top: 145px;
    z-index: 1;
    font-size: 18px;
    .noQuestionFound, .payTogetMore{
    	a{
	    	color: $anchor-color;
		    text-align: center;
		    display: block;
		    font-size: 20px;
		    padding-top: 40px;
    	}
    }
    .questionFound{
  		.questions{
	    	padding: 10px 21px;
  			border-bottom: 1px solid #ddd;
  			&.active{
  				background-color:#F7F7F7;
  			}
  			.question{
  				display: inline-block;
  			}
  			i{
  				float: right;
  				
  			}
  			.answer{
		    	display: inline-block;
				  width: 100%;
				  padding: 10px 0px;
  				&.activeAnswer{
  					p{
  						height: auto;
  						-webkit-line-clamp:initial;
  					}
  				}
  				p{
				    overflow: hidden;
				    text-overflow: ellipsis;
				    display: -webkit-box;
				    -webkit-line-clamp: 3;
				    -webkit-box-orient: vertical;
  				}
  			}
  			.answerRating{
					display: inline-block;
					i{
						padding-right: 3px;
						float: left;
						&.checked{
							color: #FEC63D
						}
						&.unchecked{
							color: #FFF1D7;
						}
					}
				}
  		}
    }
  }
	ion-content{
		&.row{
			.scroll{
				width: 100%;
				height: 100%;
			}
		}
	}
	.marginLRMinus21{
		margin-left: -21px;
		margin-right: -21px;
	}
	.paddingLRPlus21{
		padding-left: 24px;
		padding-right:24px;
	}
}
.bar-assertive-900{
	box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
	background-color: $background-color;
	.button{
		color:#000;
		border-width: 1px 14px 1px 14px;
		border-style: solid;
		border-color: transparent;
	}
}
.logoSideMenu{
	background-image: url('../img/logo-bar-header.png');
	width: 100%;
	height: 84%;
	background-size: contain;
	display: inline-block;
	margin-top: 1px;
	background-position:center;
	background-repeat:no-repeat;
}
.menu{
	border:none;
	.item-content{
		padding:0px 0px 0px 15px;
	}
	span{
		font-size: 16px;
		i{
			font-size: 26px;
			padding-right: 25px;
			padding-left: 13px;
			vertical-align: middle;
		}
	}
	.menuList{
		padding: 20px 20px 20px 2px;
		display: inline-block;
		border-bottom: 2px solid rgba(220, 220, 220, 0.5);
		width: 100%;
	}
	&.profile span i {
		color:#F10100;
	}
	&.dashboard span i {
		color:#F6D669;
	}
	&.pament span i {
		color:#DD7B60;
	}
	&.offers span i {
		color:#30B195;
	}
	&.yprofile span i {
		color:#67D5E4;
		position: relative;
		padding-right: 50px;
		&:before{
			content:'';
			background-image:url('../img/monks.png');
			width: 25px;
			height: 25px;
			position: absolute;
			background-size: contain;
			top: 0px;
			left: 7px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&.setting span i {
		color:#9389FF;
	}
}
.profileData{
	display:inline-block;
	padding-top: 15px;
	top:200px;
	z-index: 12 !important;
}
dl{
	width:100%;
	font-size:16px;
	dt{
		width: 100px;
		display: inline-block;
		vertical-align: top;
	}
	dd{
		display: inline-block;
		width: -moz-calc(100% - 105px);
		width: -webkit-calc(100% - 105px);
		width: calc(100% - 105px);
	}
}
.bar.sideMenuTop{
	height: 194px; 
	position:relative; 
	overflow:hidden;
	.imgHldr{
		background-image: url('../img/sidemenu_bg.jpg');
		background-size: cover;
		position: absolute; left:-8px; top:-8px; right:-8px; bottom:-8px; margin:auto;
		display: inline-block;
		-webkit-filter: blur(6px);
		-moz-filter: blur(6px);
		-o-filter: blur(6px);
		-ms-filter: blur(6px);
		filter: blur(6px);
		z-index: 10;
	}
}
.shortSideMenuProfile{
	position: absolute; top:0;
	display: inline-block;
	z-index: 11;
	width: 100%;
	.sProfilePic{
		height: 80px;
		width: 80px;
		background-image: url('../img/sidemenu_bg.jpg');
		background-size:contain;
		border-radius:50%;
		margin: 40px 10px 0px 20px;
		// background-color: $top-portion-color;
		color: #fff;
		font-size: 35px;
		border: 5px solid #fff;
		display: inline-block;
	}
	.sProfileName{
		margin: 70px 0px;
		font-size: 20px;
		color: #fff;
		width: 160px;
		display: inline-block;
		vertical-align: top;
    text-transform: capitalize;
	}
}
ion-side-menu .has-header{
	top:194px;
}
.editProfile{
	height:100%;
	.item-md-label{
		padding: 33px 0px 6px 5px;
		border-width: 0px 0px 1px 0px;
		input[type="time"]{
			margin-left: -4px;
		}
		.md-input{
			color: #000;
			padding-top: 0px;
			height: 25px;
			&:focus~.input-label, &.used~.input-label{
				-webkit-transform: translate3d(0,-50px,0) scale(1);
				transform: translate3d(0,-50px,0) scale(1);
				font-size: 14px;
			}
		}
		.input-label{
			color: #aaa;
		}
		.highlight-calm{
			background-color:$background-color;
		}
	}
	.item-select{
		padding-left: 0px;
		border-width: 0px 0px 1px 0px;
		display: inline-block;
		width: 100%;
		height: 46px;
		float: right;
		margin-top: 8px;
    border-bottom: 0px;
		select{
			padding: 4px 33px 4px 2px;
			height: 34px;
			border: 1px solid #ddd;
			width: 100%;
			max-width: 100%;
			direction: ltr;
		}
		&:after{
			right: 25px;
			top: 42%;
		}
	}
	.item-calender{
		border-width: 0px;
		padding-top: 0px;
		margin: 20px 0px 0px;
		padding-bottom: 10px;
		width: 100%;
		padding-left:0px;
		ionic-datepicker{
			width: 100%;
			.button{
				width: 100%;
				padding-left: 5px;
			}
		}
	}
	.btn-two{
		.button{
			margin-top: 15px;
			font-size: 16px;
      line-height: 35px;
    	min-height: 35px;
			&:first-child{
				margin-right:5px;
			}
			&:last-child{
				margin-left:5px;
			}
		}
	}
}

.bar-subHeader{
  border-color: $top-portion-color;
  background-color: $top-portion-color;
  background-image: linear-gradient(0deg, $top-portion-color, $top-portion-color 50%, transparent 50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 44px;
  .title{
  	color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
	  margin: 0 5px;
    min-width: 30px;
    height: 43px;
  }
}

.askQuestionForm{
	.item-select{
		padding-left: 0px;
    border-width: 0px;
    display: inline-block;
    width: 100%;
    height: 46px;
    float: right;
    margin-top: 10px;
    &:after {
	    right: 25px;
	    top: 42%;
		}
	}
	select {
    padding: 4px 33px 4px 25px;
    height: 34px;
    width: 100%;
    max-width: 100%;
    direction: ltr;
    font-size: 17px;
  }
  .categoryQuestion{
		display: inline-block;
		width: 100%;
		label{
			border-width:1px 0px;
			font-size: 17px;
			.radio-icon{
				margin-right: 13px;
			}
		}
		.item-content{
			white-space: normal;
	    padding-left: 30px;
    	padding-right: 40px;
		}

  }
  .textarea{
  	border-width: 1px 0px 0px;
  	padding:10px;
  	#askQuestionTextarea{
  		width: 100%;
  		padding: 2px 20px;
  		font-size: 17px;
  		&::-webkit-input-placeholder {
		  	font-style: italic;
			}
			&:-moz-placeholder {
		  	font-style: italic;
			}
			&::-moz-placeholder {
			  font-style: italic;
			}
			&:-ms-input-placeholder {  
			  font-style: italic;
			}
  	}
  }
}
.questionBottom{
	top:105px;
	padding:0px;
}
.ion-content-askQuestion{
	height:58px;
	z-index:2;
	.bar-subHeader{
    height: 58px;
    padding: 0px 24px;
		.title{
			min-width: 0px;
			display: inline-block;
			float: left;
			height: 100%;
			margin:0px;
			font-size: 20px;
	    line-height: 56px;
		}
	}
	.askQuestionBtn{
	  border: none;
	  background-image: none;
	  display: inline-block;
    float: right;
    height: 100%;
    line-height: 58px;
    width: 58px;
  	text-align: right;
  	&.backBtn{
  		float: left;
    	text-align: left;
    	width: 40px;
  	}
    .askBtnIcon{
    	i{
    		font-size:30px;
    		color: #fff;
    	}
    }
	}
}
.floatingButton{
	position: fixed;
  background: $background-color;
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: -100px;
  font-size: 35px;
  transition: all 0.4s linear;
  z-index: 13;
  &.floatBtn{
  	bottom:20px;
  }
}

.spinner{
	svg {
  	width: 58px;
    height: 58px;
	}
	&.spinner-askmonk {
  	stroke: $background-color;
  	fill: $background-color;
	}
}

.loading-container .loading{
	padding:5px;
}

/*************** iPhone 5 ***************/
@media all and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait){
	.welcome-view .authFields .inputFields{
		&:after {
			width: 39%;
		}
		&.signUptab:after{
			content: '';
			background-color: #888;
			width: 72%;
			height: 1px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.home-view {
		.yprofile .pofilePic{
			padding:0px 18px;
		}
		.paddingLRPlus21{
	    padding-left: 20px;
    	padding-right: 20px;
		}
	}
}


/*************** iPhone 6 ***************/
@media all and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait){
	.welcome-view .authFields .inputFields{
		&:after {
			width: 50%;
		}
		&.signUptab:after{
			content: '';
			background-color: #888;
			width: 77%;
			height: 1px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

/*************** iPhone 6+ and Above ***************/
@media all and (min-device-width: 412px) and (max-device-height: 736px) and (orientation: portrait){
	.welcome-view .authFields .inputFields{
		&:after {
			width: 55%;
		}
		&.signUptab:after{
			content: '';
			background-color: #888;
			width: 79.5%;
			height: 1px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.editProfile .btn-two .button{
		line-height: 32px;
    font-size: 15px;
	}
	.home-view .yprofile .yRating i{
		font-size: 24px;
	}
}
