<ion-modal-view>
	<ion-header-bar class="bar-assertive-900">
		<div class="buttons buttons-left header-item"><span class="left-buttons">
      <button class="customMenuBtn is-active" ng-click="closeModal()"><span></span></button>
    </span></div>
    <div class="title title-left header-item" style="left: 75px; right: 68px;"><i class="logoSideMenu"></i></div>
    <div class="buttons buttons-right header-item"><span class="right-buttons">
      <button class="button-clear ion-social-usd" ng-disabled="true" ng-click="goToWallet()"></button>
    </span></div>
  </ion-header-bar>
  <ion-content scroll="false" class="home-view">
		<div class="shortHeader">
			<h1 class="title">About</h1>
		</div>
		<div class="aboutUs">
			<div class="topPart">
				<img src="img/sunlogo.png">
				<h2>Askmonk</h2>
				<p>Version 1.0.0</p>
				<a href="http://www.askmonk.in">http://www.askmonk.in</a>
			</div>
			<div class="middlePart">
				<p>Helping People Get Easy, Fast and Affordable Astrological Pedictions.</p>
			</div>
			<div class="bottomPart">
				<p>Copyright &copy; 2015</p>
				<p>All right reserved.</p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>