<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="shortHeader">
			<h1 class="title">Daily Horoscope</h1>
		</div>
	</ion-content>
	<ion-content class="row horoscope" scroll="false">
		<div class="allTile">
			<table>
			  <tr ng-repeat="sign in zodiacSigns" ng-click="clickedSign(sign.id)">
			    <td class="tile">
			    	<div class="imagePic">
							<div ng-include="sign.imagePath" class="svgImage"></div>
						</div>
						<div class="name">
							<p>{{sign.name}}</p>
						</div>
			    </td>
			  </tr>
			</table>
		</div>
	</ion-content>
</ion-view>