<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="shortHeader">
			<h1 class="title">Ask Question</h1>
			<div class="shortHeaderBtn" ng-click="openAskQuestion()">
			  <a class="shortHeaderIcon"><i class="icon ion-paper-airplane"></i></a>
			</div>
			<div class="selectTimeQuestion">
				<label class="selectTimeLabel"><!-- item item-input item-select -->
					<select name="questionTime" ng-model="askQuestion.moneyType" required ng-disabled="!(getUserCount && getUserCount.totalQuestionsAsked)">
						<option ng-repeat="(key,value) in timeLineJson" ng-selected="{{12 == value.durationMonths}}" value="{{key}}">{{value.durationMonths | timeLineFiter}}</option>
					</select>
				</label>
			</div>
		</div>
		<div class="askQuestionForm">
			<label class="item item-input item-select">
				<select name="questionCategory" ng-model="askQuestion.questionTag" required ng-change="askQuestionCategory($event, askQuestion.questionTag)">
					<option value="" disabled selected>Question Related To </option>
					<option ng-repeat="(key,value) in questions" value="{{key}}">{{key}}</option>
					<option value="other">Other</option>
				</select>
			</label>
		</div>
	</ion-content>
	<ion-content scroll="true" class="row askQuestionBottom" delegate-handle="scrollHandle">
		<div id="askQuestionForm" class="askQuestionForm list">
			<!-- <label class="item item-input item-select">
				<select name="questionCategory" ng-model="askQuestion.questionTag" required ng-change="askQuestionCategory($event, askQuestion.questionTag)">
					<option value="" disabled selected>Question Related To </option>
					<option ng-repeat="(key,value) in questions" value="{{key}}">{{key}}</option>
					<option value="other">Other</option>
				</select>
			</label> -->

			<div class="categoryQuestion">
				<div ng-if="showQuestion" ng-repeat="question in preffredQuestion track by $index">
					<ion-radio ng-model="askQuestion.question" ng-value="question" ng-change="clearQuestionOnOther()" ng-class="{'activeTextarea':question=='Other' && showOnOtherQuestion}">{{question}}</ion-radio>
				</div>
			</div>
		</div>
		<div class="matchMaking paddingLRPlus21" ng-if="askQuestion.questionTag == 'Match Making'">
			<p>Partner Details</p><button class="button button-custom button-small" ng-click="addPartnerDetailsModal()">Add</button>
		</div>
	</ion-content>
	
	<div class="item askQuestiontextarea" ng-if="!showQuestion || showOnOtherQuestion || askQuestion.questionTag == 'Match Making'">
		<textarea id="askQuestionTextarea" class="animate msd-elastic" name="askQuestionTextarea" focus-me ng-model="askOtherQuestion.question" placeholder="Write the question that you wish to ask..."></textarea>
	</div>
</ion-view>