<ion-modal-view class="home-view" ng-controller="changePasswordModalCtrl">
	<ion-header-bar class="bar-assertive-900">
		<div class="buttons buttons-left header-item"><span class="left-buttons">
      <button class="customMenuBtn is-active" ng-click="closeModal()"><span></span></button>
    </span></div>
    <div class="title title-left header-item" style="left: 75px; right: 68px;"><i class="logoSideMenu"></i></div>
    <!-- <div class="buttons buttons-right header-item"><span class="right-buttons">
      <button class="button-clear ion-wallet" ng-disabled="true" ng-click="goToWallet()"></button>
    </span></div> -->
  </ion-header-bar>
  <ion-content scroll="false" class="changePasswordModal">
		<div class="shortHeader">
			<h1 class="title">Change Password</h1>
			<div class="shortHeaderBtn" ng-click="passwordChangePopup()">
        <a class="shortHeaderIcon"><i class="icon ion-ios-download"></i></a>
      </div>
		</div>
		<div class="inputFields">
			<form role="form" class="form form-horizontal" name="changepassword" ng-submit="passwordChangePopup(changepassword)" novalidate>
				<ion-md-input name="password_new" placeholder="New Password" highlight-color="custom" ng-model="model.password" type="password" required ng-minlength="1"></ion-md-input>

				<ion-md-input name="password_con" placeholder="Confirm Password" highlight-color="custom" ng-model="args.con_password" type="password" nx-unequal="args.password" required></ion-md-input>
				
			</form>
		</div>
	</ion-content>
</ion-modal-view>