<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="yprofile dashboard">
			<div class="pofilePic">
				<!-- <div class="avatar"><i class="ion-person"></i></div> -->
				<div class="yAnswerStatus" ng-if="loginType=='user'">
					<div class="aboutQuestion">Questions<br /><span class="pullToRefresh">(Pull to refresh)</span></div>
					<div class="searchBar">
						<label class="item item-input item-search" for="search">
				    	<input type="text" placeholder="Search..." ng-model="search.searchInput" name="search" ng-change="inputSearch()">
				  	</label>
				  	<i class="icon ion-close-round placeholder-icon" ng-click="clearSearch()" ng-show="showClear"></i>
			  	</div>
				</div>
				<div class="yAnswerStatus" ng-if="loginType=='monk'">
					<div class="aboutQuestion">Questions<br /><span class="pullToRefresh">(Pull to refresh)</span></div>
					<div class="searchBar">
						<label class="item item-input item-search" for="search">
				    	<input type="text" placeholder="Search..." ng-model="search.searchInput" name="search" ng-change="inputSearch()">
				  	</label>
				  	<i class="icon ion-close-round placeholder-icon" ng-click="clearSearch()" ng-show="showClear"></i>
			  	</div>
				</div>
				
			  <!-- <button class="button button-icon icon ion-ios-search-strong searchBar" ng-click="showFilterBar()"></button> -->
			</div>
		</div>
	</ion-content>
	<ion-content class="dashboardData" scroll="false">
		<tab-slide-box tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <a class="">
          	<span ng-if="loginType=='user'">NEW</span>
          	<span ng-if="loginType=='monk'">OPEN</span>
          </a>
          <a class="">ANSWERED</a>
          <a class="">RATED</a>
        </div>
      </div>
      <ion-slide-box id="sliderScroll" show-pager="false" on-slide-changed="slideHasChanged($index)" delegate-handle="sliderScroll">
        <ion-slide>
        	<ion-scroll style="height:100%" delegate-handle="slide1Scroll">
        		<ion-refresher on-refresh="doRefresh()" spinner="none"></ion-refresher>
	          <div class="noQuestionFound" ng-if="noQuestionFound && loginType=='user'">
							<a ng-click="askQuestion()" href="">Ask first question for free</a>
						</div>
						<div class="questionFound" ng-if="!noQuestionFound">
							<ion-list>
				        <div ng-repeat="group in groups | filter:search.searchInput | orderBy:'+':true" class="questions" ng-click="goToQuestion(group.id)" ng-if="group.status=='asked'">
				          <div class="question">{{group.question}}
				        		<!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-up'" ng-show="group.answer"></i> -->
				        	</div>
				          
			          	<div class="answer">
			          		<p class="showAnswer" ng-if="loginType=='user'">{{group.answer ? group.answer: "Will be answered next 24 hrs."}}</p>
			          		<p class="questionTag" ng-if="loginType=='monk'">{{group.questionTag}}</p>
			          		<p class="postedTime" ng-if="loginType=='monk'">Posted {{group.askedOn | timeago}}</p>
					       	</div>
					       	<p class="postedUser" ng-if="loginType=='monk'">Posted by {{group.name}}</p>
				        </div>
				        <!-- <div class="payTogetMore" ng-if="groups.length<=2 && loginType=='user'">
					      	<a ui-sref="app.wallet">Pay to get more answers.</a>
					      </div> -->
			      	</ion-list>
						</div>
					</ion-scroll>
        </ion-slide>
        <ion-slide>
        	<ion-scroll style="height:100%" delegate-handle="slide2Scroll">
        		<ion-refresher on-refresh="doRefreshOnAnsweredTab()" spinner="none"></ion-refresher>
	          <div class="noQuestionFound" ng-if="noQuestionFound && loginType=='user'">
							<a ng-click="askQuestion()" href="">Ask first question for free</a>
						</div>
						<div class="noQuestionFound" ng-if="noQuestionFound && loginType=='monk'">
							<!-- <a ng-click="askQuestion()" href="">Ask first question for free</a> -->
							<p>You have not answered a question. Please answer a question.</p>
						</div>
						<div class="questionFound" ng-if="!noQuestionFound">
							<ion-list>
				        <div ng-repeat="group in groups | filter:search.searchInput | orderBy:'+':true" class="questions" ng-click="goToQuestion(group.id)" ng-if="group.status=='answered' && loginType=='user'">
				          <div class="question">{{group.question}}</div>
				          
				          <div class="answer">
				          	<p>{{group.answer ? group.answer: "Will be answered next 24 hrs."}}</p>
						       </div>
				        </div>

				        <div ng-repeat="group in questionAnswered | filter:search.searchInput | orderBy:'+':true" class="questions" ng-click="goToQuestion(group.id)" ng-if="group.status=='answered' && loginType=='monk'">
				          <div class="question">{{group.question}}</div>
				          
				          <div class="answer">
				          	<p class="questionTag">{{group.questionTag}}</p>
				          	<p class="postedTime">Posted {{group.askedOn | timeago}}</p>
						       </div>
						       <p class="postedUser" ng-if="loginType=='monk'">Posted by {{group.name}}</p>
				        </div>
				        <!-- <div class="payTogetMore" ng-if="groups.length<=2 && loginType=='user'">
					      	<a ui-sref="app.wallet">Pay to get more answers.</a>
					      </div> -->
			      	</ion-list>
						</div>
					</ion-scroll>
        </ion-slide>
        <ion-slide>
        	<ion-scroll style="height:100%" delegate-handle="slide3Scroll">
        		<ion-refresher on-refresh="doRefreshOnAnsweredTab()" spinner="none"></ion-refresher>
	          <div class="noQuestionFound" ng-if="noQuestionFound && loginType=='user'">
							<a ng-click="askQuestion()" href="">Ask first question for free</a>
						</div>
						<div class="questionFound" ng-if="!noQuestionFound">
							<ion-list>
				        <div ng-repeat="group in groups | filter:search.searchInput | orderBy:'+':true" class="questions" ng-click="goToQuestion(group.id)" ng-if="group.status=='rated' && loginType=='user'">
				          <div class="question">{{group.question}}</div>
				          
				          <div class="answer">
				          	<p>{{group.answer ? group.answer: "Will be answered next 24 hrs."}}</p>
						       </div>
				        </div>
				        <div ng-repeat="group in questionAnswered | filter:search.searchInput | orderBy:'+':true" class="questions" ng-click="goToQuestion(group.id)" ng-if="group.status=='rated' && loginType=='monk'">
				          <div class="question">{{group.question}}</div>
				          
				          <div class="answer">
				          	<p class="questionTag">{{group.questionTag}}</p>
				          	<p class="postedTime">Posted {{group.askedOn | timeago}}</p>
						      </div>
						      <p class="postedUser" ng-if="loginType=='monk'">Posted by {{group.name}}</p>
				        </div>
				        <!-- <div class="payTogetMore" ng-if="groups.length<=2 && loginType=='user'">
					      	<a ui-sref="app.wallet">Pay to get more answers.</a>
					      </div> -->
			      	</ion-list>
						</div>
					</ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
	</ion-content>
	<div ng-click="askQuestion()" class="floatingButton" ng-class="{'floatBtn':floatingBtnAction}" ng-if="loginType=='user'">
		<i class="icon ion-android-add"></i>
		<!-- <img src="img/flyout_icon.jpg" /> -->
	</div>
</ion-view>
