<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-nav-bar class="bar-assertive-900">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="isComingFromSignUp"></button>
      <button class="customMenuBtn" ng-class="{'is-active':shouldGoBack}"><span></span></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button-clear ion-social-usd" ng-click="goToWallet()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
	<ion-content scroll="false">
		<div class="yprofile dashboard">
			<div class="pofilePic">
				<!-- <div class="avatar"><i class="ion-person"></i></div> -->
				<div class="yAnswerStatus">My Questions</div>
				<label class="item item-input item-search" for="search">
			    <input type="text" placeholder="Search" ng-model="search.searchInput" name="search">
			  </label>
			  <i class="icon ion-close-round placeholder-icon" ng-click="clearSearch()"></i>
			</div>
		</div>
	</ion-content>
	<ion-content class="row dashboardData paddingLRPlus21" scroll="true" delegate-handle="mainScroll">
		<div class="noQuestionFound" ng-if="noQuestionFound">
			<a ng-click="askQuestion()" href="">Ask first question for free</a>
		</div>
		<div class="questionFound marginLRMinus21" ng-if="!noQuestionFound">
			<ion-list>
        <div ng-repeat="group in groups | filter:search.searchInput" class="questions" ng-click="goToQuestion(group.id)">
          <div class="question"> <span>Q{{$index+1}}.</span>{{group.question}}
        		<!-- <i class="icon" ng-class="isGroupShown(group) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-up'" ng-show="group.answer"></i> -->
        	</div>
          
          <div class="answer">
          	<p>{{group.answer ? group.answer: "Will be answered next 24 hrs."}}</p>
	          <!-- <div class="answerRating" ng-show="group.answer">
		          <i class="icon ion-ios-heart checked"></i>
		          <i class="icon ion-ios-heart checked"></i>
		          <i class="icon ion-ios-heart checked"></i>
		          <i class="icon ion-ios-heart unchecked"></i>
		          <i class="icon ion-ios-heart unchecked"></i>
		        </div> -->
		       </div>
        </div>
        <div class="payTogetMore">
	      	<a ui-sref="app.wallet">Pay to get more answers.</a>
	      </div>
      </ion-list>
		</div>
	</ion-content>
	<div ng-click="askQuestion()" class="floatingButton" ng-class="{'floatBtn':floatingBtnAction}">
		<i class="icon ion-ios-compose-outline"></i>
		<!-- <img src="img/flyout_icon.jpg" /> -->
	</div>
</ion-view>
