<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
  <ion-content scroll="false" class="ion-content-askQuestion">
    <div class="bar-subHeader paddingLRPlus21">
      <div class="askQuestionBtn backBtn" ng-click="cancelEditProfile()">
        <a class="askBtnIcon"><i class="icon ion-android-arrow-back"></i></a>
      </div>
      <h1 class="title">Profile Details</h1>
      <div class="askQuestionBtn" ng-click="saveEditProfile()">
        <a class="askBtnIcon"><i class="icon ion-ios-download"></i></a>
      </div>
    </div>
  </ion-content>
	<ion-content class="row paddingLRPlus21 questionBottom" scroll="true">
		<div class="list editProfile">
      <ion-md-input placeholder="Name" autofocus hightlight-color="calm" type="text" ng-model="editProfileData.name"></ion-md-input>

      <ion-md-input placeholder="Email" hightlight-color="custom" type="email" ng-model="editProfileData.email"></ion-md-input>

      <ion-md-input placeholder="Mobile" hightlight-color="custom" type="number" ng-model="editProfileData.mobile"></ion-md-input>

      <ion-md-input placeholder="Birth Place" hightlight-color="custom" type="text" ng-model="editProfileData.birthPlace"></ion-md-input>

      <ion-md-input placeholder="Birth Time" hightlight-color="custom" type="time" ng-model="editProfileData.birthTime"></ion-md-input>

      <!-- <ion-md-input placeholder="Age" hightlight-color="custom" type="number"></ion-md-input> -->
      
      <label class="item item-input item-calender">
      	<ionic-datepicker input-obj="datepickerObject">
				  <button class="button button-custom-small button-light"> 
            <span class="dateObject" ng-if="!showDate">{{datepickerObject.titleLabel}}</span>
            <span class="dateObject" ng-if="showDate">{{datepickerObject.inputDate | date:'dd - MM - yyyy'}}</span>
            <i class="ion-android-calendar"></i>
          </button>
				</ionic-datepicker>
      </label>
		  <label class="item item-input item-select">
        <select name="gender" ng-model="editProfileData.gender" required="">
            <option value="" disabled>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
      </label>
			<!-- <div class="button-bar btn-two">
			  <a class="button button-custom button-askmonk" ng-click="cancelEditProfile()">Cancel</a>
        <a class="button button-custom button-askmonk" ng-click="saveEditProfile()">Save</a>

			</div> -->
    </div>
	</ion-content>
</ion-view>
