<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
  <ion-content scroll="false">
    <div class="shortHeader">
      <h1 class="title">Profile Details</h1>
      <div class="shortHeaderBtn" ng-click="saveEditProfile()">
        <a class="shortHeaderIcon"><i class="icon ion-ios-download"></i></a>
      </div>
    </div>
  </ion-content>
	<ion-content class="row paddingLRPlus21 questionBottom" scroll="true">
		<div class="list editProfile">
      <ion-md-input placeholder="Name" autofocus hightlight-color="calm" type="text" ng-model="editProfileData.name"></ion-md-input>

      <ion-md-input placeholder="Mobile" hightlight-color="custom" type="number" ng-model="editProfileData.mobile" ng-if="loginType=='user'"></ion-md-input>

      <!-- <ion-md-input placeholder="Birth Place" hightlight-color="custom" type="text" ng-model="editProfileData.birthPlace" ng-if="loginType=='user'"></ion-md-input> -->
      <label class="item item-input item-md-label" ng-if="loginType=='user'">
        <ion-google-place ng-model="editProfileData.birthPlace" current-location="false"></ion-google-place>
        <span class="input-label">Birth Place</span>
        <div class="highlight highlight-calm"></div>
      </label>
      
      <label class="item item-input item-md-label" ng-if="loginType=='user'" ionic-timepicker input-obj="timePickerObject12Hour">
        <div class="md-input ion-birth-time">{{editProfileData.birthTime | date: 'hh:mm a'}}</div>
        <span class="input-label">Birth Time</span>
        <div class="highlight highlight-calm"></div>
      </label>

      <!-- <ion-md-input placeholder="Birth Time" hightlight-color="custom" type="time" ng-model="editProfileData.birthTime" ng-if="loginType=='user'"></ion-md-input> -->
      <!--<>
        <button class="button button-outline button-positive"> {{ timePickerObject12Hour.inputEpochTime | date: 'hh:mm a'}} </button>
      </ionic-timepicker> -->

      <label class="item item-input item-md-label" ng-if="loginType=='user'">
        <ion-google-place ng-model="editProfileData.address" current-location="true"></ion-google-place>
        <span class="input-label">Address(City, state, Country)</span>
        <div class="highlight highlight-calm"></div>
      </label>

      <ion-md-input placeholder="Phone" hightlight-color="custom" type="number" ng-model="editProfileData.phone" ng-if="loginType=='monk'"></ion-md-input>

      <ion-md-input placeholder="Education" hightlight-color="custom" type="text" ng-model="editProfileData.education" ng-if="loginType=='monk'"></ion-md-input>

      <ion-md-input placeholder="Occupation" hightlight-color="custom" type="text" ng-model="editProfileData.occupation" ng-if="loginType=='monk'"></ion-md-input>

      <ion-md-input placeholder="Residence" hightlight-color="custom" type="text" ng-model="editProfileData.residence" ng-if="loginType=='monk'"></ion-md-input>

      <ion-md-input placeholder="City" hightlight-color="custom" type="text" ng-model="editProfileData.city" ng-if="loginType=='monk'"></ion-md-input>
      <ion-md-input placeholder="State" hightlight-color="custom" type="text" ng-model="editProfileData.state" ng-if="loginType=='monk'"></ion-md-input>
      <ion-md-input placeholder="Country" hightlight-color="custom" type="text" ng-model="editProfileData.country" ng-if="loginType=='monk'"></ion-md-input>
      
      <ion-md-input placeholder="Experience" hightlight-color="custom" type="number" ng-model="editProfileData.experience" ng-if="loginType=='monk'"></ion-md-input>

      <div class="textareaLable" ng-if="loginType == 'monk'">Bio</div>
      <div class="item textarea" ng-if="loginType=='monk'">
        <textarea id="bioTextarea" name="bioTextarea" ng-model="editProfileData.bio" placeholder="About Me..." ng-keyup="expandText()" ng-keydown="expandText()" style="width:100%"></textarea>
      </div>

      <!-- <ion-md-input placeholder="Age" hightlight-color="custom" type="number"></ion-md-input> -->

      <label class="item item-input item-calender" ng-if="loginType=='user'">
      	<ionic-datepicker input-obj="datepickerObject">
				  <button class="button button-custom-small button-light"> 
            <span class="dateObject" ng-if="!showDate">{{datepickerObject.titleLabel}}</span>
            <span class="dateObject" ng-if="showDate">{{datepickerObject.inputDate | date:'dd - MM - yyyy'}}</span>
            <i class="ion-android-calendar"></i>
          </button>
				</ionic-datepicker>
      </label>

		  <label class="item item-input item-select" ng-if="loginType=='user'">
        <select name="gender" ng-model="editProfileData.gender" required="">
          <option value="" disabled>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </label>

      <div class="bottomPart" ng-if="loginType=='user'">
        <div class="divider">More Info <p>(All fields required for better predictions)</p></div>

        <label class="item item-input item-select" ng-if="loginType=='user'">
          <select name="gender" ng-model="editProfileData.maritalStatus" required="">
            <option value="" disabled>Marital Status?</option>
            <option value="married">Married</option>
            <option value="unmarried">Unmarried</option>
            <option value="divorced">Divorced</option>
            <option value="widow">Widow</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="loginType=='user'">
          <select name="gender" ng-model="editProfileData.profession" required="">
            <option value="" disabled>What do you do?</option>
            <option value="job">Job</option>
            <option value="business">Business</option>
            <option value="student">Student</option>
            <option value="selfemployed">Self Employed</option>
            <option value="housewife">Housewife</option>
            <option value="unemployed">Unemployed</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="loginType=='user'">
          <select name="gender" ng-model="editProfileData.qualification" required="">
            <option value="" disabled>Educational Background</option>
            <option value="10">10th</option>
            <option value="12">12th</option>
            <option value="graduate">Graduate</option>
            <option value="postgraduate">Post Graduate</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="loginType=='user'">
          <select name="gender" ng-model="editProfileData.numberOfChildren" required="">
            <option value="" disabled>Number Of Children</option>
            <option value="none">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="2+">2+</option>
          </select>
        </label>
      </div>
    </div>
	</ion-content>
</ion-view>
