<div>
	<div style="width:100%;margin:0;padding:0" width="100%">
		<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;background:#eee;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:13px;width:100%;height:100%;text-align:left" width="100%" align="left" height="100%">
			<tbody>
				<tr>
					<td style="border-collapse:collapse;padding:32px 0;background-color:#eeeeee" align="center" bgcolor="#eeeeee">
						<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
							<tbody>
								<tr>
									<td align="left" style="border-collapse:collapse;background:#fff;padding:32px;min-width:320px;max-width:525px;height:100%;border-radius:3px" height="100%">
										<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;width:100%" width="100%">
											<tbody>
												<tr>
													<td style="border-collapse:collapse;border-bottom:1px solid #e2e2e2;padding-bottom:16px;width:100%" width="100%">
														<span style="color:white;font-size:1px;display:block">Answer: Yes, you are an outlier.&#8203; It is also going to be a big problem for you.&#8203;.&#8203;.&#8203;</span>
														<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;width: 100%;text-align: center;">
															<tbody>
																<tr>
																	<td style="border-collapse:collapse;padding-right:16px;">
																		<a href="http://askmonk.in/" style="text-decoration:none" target="_blank">
																			<img width="99px" alt="Askmonk" src="http://askmonk.in/images/askmonk_logo_white.png" height="43px" style="outline:0;text-decoration:none;border:0">
																		</a>
																	</td>
																	<!--  
																	<td style="border-collapse:collapse;padding-left:16px">
																		<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
																			<tbody>
																				<tr>
																					<td style="border-collapse:collapse;color:#333;line-height:1.25;font-weight:bold;letter-spacing:.25px;font-size:17px">Top Stories from Your Feed</td>
																				</tr>
																				<tr>
																					<td style="border-collapse:collapse;font-size:15px;line-height:1.4;color:#999">Your Quora Digest</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>-->
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td style="border-collapse:collapse"></td>
												</tr>
												<tr>
													<td bgcolor="#ffffff" style="border-collapse:collapse">
														<table cellpadding="0" border="0" style="border-collapse:collapse;width:100%" cellspacing="0" width="100%">
															<tbody>
																<tr>
																	<td style="border-collapse:collapse">
																		<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
																			<tbody>
																				<tr>
																					<td style="border-collapse:collapse">
																						<div>
																							<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse;width:100%" width="100%">
																								<tbody>
																									<tr>
																										<td style="border-collapse:collapse;padding:16px 0;border-bottom:1px solid #e2e2e2">
																											<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
																												<tbody>
																													<tr>
																														<td style="border-collapse:collapse">
																															<a href="#QUESTION_URL" style="text-decoration:none;display:block;font-size:19px;color:#333;letter-spacing:-0.5px;line-height:1.25;font-weight:bold;color:#155fad" target="_blank"><span>I have been married for a long time. I have conceived many times but I had a miscarriage. Will I conceive again and give birth to a healthy child ?</span></a></td>
																													</tr>
																													<tr>
																														<td style="border-collapse:collapse">
																															<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
																																<tbody>
																																	<tr>
																																		<td style="border-collapse:collapse;display:block;font-family:Georgia,Times,&quot;Times New Roman&quot;,serif;font-size:15px;line-height:1.4">
																																			<div>
																																			  <span>Yes, you are an outlier. It is also going to be a big problem for you going forward.<br><br>The reason is you're not really senior despite your title.<br><br>And because of that salary and your age, unless you are truly a polyglot software rock star, no one is going to b...</span><a style="text-decoration:none;color:#538dc2" href="" target="_blank">Read More&nbsp;»</a>
																																			</div>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																														</td>
																													</tr>
																												</tbody>
																											</table>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</div>
																					</td>
																				</tr>
																				<tr>
																					<td height="10" style="border-collapse:collapse"></td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td style="border-collapse:collapse">
														<table cellpadding="0" border="0" cellspacing="0" style="border-collapse:collapse">
															<tbody>
																<tr>
																	<td style="border-collapse:collapse;width:100%;font-size:11px;color:#999;padding-top:5px" width="100%">This email was sent by Quora (650 Castro Street #450, Mountain View, CA 94041). Quora is the best answer to any question. <a href="#UNSUBSCRIBE_LINK" style="text-decoration:underline;color:#999" target="_blank">Unsubscribe</a> from this email.</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>