<ion-view class="welcome-view" cache-view="false">
	<ion-slide-box on-slide-changed="slideHasChanged($index)" class="top-content">
		<ion-slide>
			<div class="topContentVideo">
			  <p class="ftuText">Select a question, <br/>set duration & ask on the go</p>
			  <div class="boxPhone">
			  	<video autoplay loop class="ftuContainer" id="video1">
					  <source src="img/ftu/screen1_3.mp4" type="video/mp4">
					</video>
			  </div>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <p class="ftuText">Browse astrologers <br>& ask directly</p>
	    <div class="boxPhone">
	    	<video autoplay loop class="ftuContainer" id="video2">
				  <source src="img/ftu/screen2_3.mp4" type="video/mp4">
				</video>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <p class="ftuText">Fill in mandatary details <br>& start askmonking</p>
	    <div class="boxPhone">
	    	<video autoplay loop class="ftuContainer" id="video3">
				  <source src="img/ftu/screen3_3.mp4" type="video/mp4">
				</video>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box">
				<div class="app-logo">
					<img src="img/logo.png">
					<p class="app-tagline">Predictions just a Question away.</p>
				</div>
	    </div>
	  </ion-slide>
	</ion-slide-box>
	<div class="nextSlideArrow" ng-click="changeToNextSlide()" ng-show="showNextButton">
		<i class="icon ion-chevron-right"></i>
	</div>
	<div class="bottomContent">
		<div class="loginTab">
			<div class="userTab" ng-click="userLoginForm()">USER</div>
			<div class="monkTab" ng-click="monkLoginForm()">MONK</div>
		</div>
	</div>
	<!-- <div class="bottom-content row row-bottom">
		<div class="col col-bottom">
			<a class="facebook-sign-in button button-full ink" ng-click="facebookSignIn()">
				Log in with Facebook
			</a>
		</div>
	</div> -->
</ion-view>

<script type="text/ng-template" id="userLoginModal.html">
	<ion-modal-view class="loginPages">
		<ion-header-bar class="loginHeaderBar">
      <i class="icon ion-android-close" ng-click="closeModal()"></i>
    </ion-header-bar>
    <ion-content scroll="false">
			<div class="inputFields" ng-class="{'signUptab':signUptab}">
				<form name="loginForm" class="form form-horizontal" novalidate ng-hide="signUptab">
					<ion-md-input name="userEmail" placeholder="Email" highlight-color="custom" ng-model="args.email" type="email" ng-required="true"></ion-md-input>
					<ion-md-input name="userPassword" placeholder="Password" highlight-color="custom password" ng-model="args.password" type="password" ng-if="!userForgetPasswordShow" ng-minlength="6" ng-maxlength="16" ng-required="true"></ion-md-input>
					<button class="button button-login" ng-click="userLogin(loginForm)" type="submit" ng-if="!userForgetPasswordShow">Login</button>
					
					<button class="button button-login" ng-click="userForgetPassword()" type="submit" ng-if="userForgetPasswordShow">Send Email</button>
					<a ng-click="loginTab()" class="backTologin" ng-if="userForgetPasswordShow">Already have an account? Login</a>

					<a ng-click="forgetUserPasswordTab()" class="forgetPassword" ng-if="!userForgetPasswordShow">Forgot Password ?</a>
					<a ng-click="signUpTab()" class="registerWithUs" ng-if="!userForgetPasswordShow">Sign Up</a>
					<div class="socialLogin googleLoginBtn" ng-click="userGoogleLogin()">
						<img src="img/google-login-icon.png" />
					</div>
				</form>
				<form name="registerForm" class="form form-horizontal" ng-submit="userSignUp(registerForm)" novalidate autocomplete="off" ng-show="signUptab">
					<ion-md-input placeholder="Name" name="name" highlight-color="custom" ng-model="argsSignup.name" type="text" required></ion-md-input>
					<ion-md-input placeholder="Email" ng-pattern="/^\w+([\.+-]?\w+)*@\w+([\.-]?\w+)(\.\w{1,})+$/" name="email" highlight-color="custom" ng-model="argsSignup.email" type="text" required></ion-md-input>
					<ion-md-input placeholder="Password" name="password" highlight-color="custom" ng-model="argsSignup.password" type="password" ng-minlength="6" ng-maxlength="16" ng-required="true"></ion-md-input>
					<ion-md-input placeholder="Confirm Password" name="conpassword" highlight-color="custom" ng-model="conpassword.pass" type="password" ng-minlength="6" ng-maxlength="16" ng-required="true"></ion-md-input>
					<p class="disclaimer">By clicking Sign up, you agree to Askmonk's <a class="" ng-click="openTnC()">Terms & Condition</a>.</p>
					<button class="button button-login" type="submit">Sign Up</button>
					<a ng-click="loginTab()" class="backTologin">Already have an account? Login</a>
					<div class="socialLogin" ng-click="userGoogleLogin()">
						<img src="img/google-login-icon.png" />
					</div>
				</form>
			</div>
		</ion-content>
	</ion-modal-view>
</script>

<script type="text/ng-template" id="monkLoginModal.html">
	<ion-modal-view class="loginPages">
		<ion-header-bar class="loginHeaderBar">
      <i class="icon ion-android-close" ng-click="closeModal()"></i>
    </ion-header-bar>
    <ion-content scroll="false">
			<div class="inputFields">
				<form name="myform" class="form form-horizontal" novalidate>
					<ion-md-input placeholder="Email" highlight-color="custom" type="email" ng-pattern="/^\w+([\.+-]?\w+)*@\w+([\.-]?\w+)(\.\w{1,})+$/" name="monkEmail" ng-model="argsMonk.email"></ion-md-input>
					<ion-md-input placeholder="Password" highlight-color="custom password" type="password" ng-model="argsMonk.password" ng-if="!monkForgetPasswordShow"></ion-md-input>
					<button class="button button-login" ng-click="monkLogin()" ng-if="!monkForgetPasswordShow">Login</button>
					<button class="button button-login" ng-click="monkForgetPassword()" ng-if="monkForgetPasswordShow">Send Email</button>
					<a ng-click="forgetMonkPasswordTab()" class="forgetPassword" ng-if="!monkForgetPasswordShow">Forgot Password?</a>
					<a ng-click="loginMonkTab()" class="backTologin" ng-if="monkForgetPasswordShow">Already have an account? Login</a>
				</form>
			</div>
		</ion-content>
	</ion-modal-view>
</script>