<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="shortHeader">
			<h1 class="title">Settings</h1>
		</div>
	</ion-content>
	<ion-content scroll="false" class="settingCtrl">
		<div>
			<div class="list">
				<div class="list-item">
					<button class="button button-full" ng-click="aboutUs()"><i class="icon ion-information-circled"></i><span>About</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="privacyPolicy()"><i class="icon ion-android-lock"></i><span>Privacy Policy</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="openBlog()"><i class="icon ion-social-wordpress"></i><span>Blog</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="changePassword()"><i class="icon ion-key"></i><span>Change Password</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="shareWhatsapp()"><i class="icon ion-android-share-alt"></i><span>Share</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="helpDesk()"><i class="icon ion-help"></i><span>Helpdesk</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="logOut()"><i class="icon ion-power"></i><span>Logout</span></button>
				</div>
			</div>
		</div>
		<div class="bottomPart">
			<!-- <p>Version 1.0.0</p> -->
			<p>v.201602100030</p>
		</div>
	</ion-content>
</ion-view>