<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="shortHeader">
			<h1 class="title">Settings</h1>
		</div>
	</ion-content>
	<ion-content scroll="true" has-bouncing="false" class="settingCtrl">
		<div>
			<div class="list">
				<!-- <div class="list-item">
					<button class="button button-full" ng-click="payGoogleWallet()"><i class="icon ion-information-circled"></i><span>paywithgooglewallet</span></button>
				</div> -->
				<div class="list-item">
					<button class="button button-full" ng-click="aboutUs()"><i class="icon ion-information-circled"></i><span>About</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="privacyPolicy()"><i class="icon ion-android-lock"></i><span>Privacy Policy</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="termsCondition()"><i class="icon ion-document-text"></i><span>Terms and Conditions</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="openBlog()"><i class="icon ion-social-wordpress"></i><span>Blog</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="getPaymentInfo()"><i class="icon ion-ios-pricetag"></i><span>Payments</span></button>
				</div>
				<div class="list-item" ng-if="loginType == 'user'">
					<button class="button button-full" ng-click="showGuideScreens()"><i class="icon ion-help-buoy"></i><span>How it Works</span></button>
				</div>
				<div class="list-item" ng-if="((userModal.isSocial) && (userModal.isSocial != false) || (!userModal.isSocial))">
					<button class="button button-full" ng-click="changePassword()"><i class="icon ion-key"></i><span>Change Password</span></button>
				</div>
				<div class="list-item" ng-if="(loginType == 'user') && ((userModal.isSocial) && (userModal.isSocial != false) || (!userModal.isSocial))">
					<button class="button button-full" ng-click="resendValidation()"><i class="icon ion-email-unread"></i><span>Resend Validation Email</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="shareWhatsapp()"><i class="icon ion-android-share-alt"></i><span>Share</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="rateUsApp()"><i class="icon ion-android-star-outline"></i><span>Rate Us</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="helpDesk()"><i class="icon ion-help"></i><span>Helpdesk</span></button>
				</div>
				<div class="list-item">
					<button class="button button-full" ng-click="logOut()"><i class="icon ion-power"></i><span>Logout</span></button>
				</div>
			</div>
		</div>
		<div class="bottomPart">
			<!-- <p>Version 1.0.0</p> -->
			<p>v.201604150020</p>
		</div>
	</ion-content>

	<!-- <div class="form">
		<form method="post" action="https://secure.payu.com/api/v2_1/orders">
	    <input type="hidden" name="customerIp" value="192.168.1.4">
	    <input type="hidden" name="merchantPosId" value="5453900">
	    <input type="hidden" name="description" value="Askmonk Payment">
	    <input type="hidden" name="totalAmount" value="2">
	    <input type="hidden" name="currencyCode" value="INR">
	    <input type="hidden" name="products[0].name" value="Ask Question">
	    <input type="hidden" name="products[0].unitPrice" value="2">
	    <input type="hidden" name="products[0].quantity" value="1">
	    <input type="hidden" name="notifyUrl" value="http://askmonk.in/privacy.html">
	    <input type="hidden" name="continueUrl" value="http://askmonk.in/privacy.html">
	    <input type="hidden" name="OpenPayu-Signature" value="sender=5453900;algorithm=SHA-256;signature=">
	    <button type="submit" formtarget="_blank" >Pay with PayU</button>
		</form >
	</div> -->
</ion-view>

<script type="text/ng-template" id="resendValidationModal.html">
	<ion-modal-view class="home-view" ng-controller="resendValidationModalCtrl">
		<ion-header-bar class="bar-assertive-900">
			<div class="buttons buttons-left header-item"><span class="left-buttons">
	      <button class="customMenuBtn is-active" ng-click="closeModal()"><span></span></button>
	    </span></div>
	    <div class="title title-left header-item" style="left: 75px; right: 68px;"><i class="logoSideMenu"></i></div>
	  </ion-header-bar>
	  <ion-content scroll="false" class="changePasswordModal">
			<div class="shortHeader">
				<h1 class="title">Resend Validation Email</h1>
				<!-- <div class="shortHeaderBtn" ng-click="resendValidationSendPopup()">
	        <a class="shortHeaderIcon"><i class="icon ion-ios-download"></i></a>
	      </div> -->
			</div>
			<div class="inputFields">
				<form role="form" class="form form-horizontal" name="resendvalidation" ng-submit="resendValidationSendPopup(resendvalidation)" novalidate>
					<ion-md-input name="email" placeholder="Email" highlight-color="custom" ng-model="args.email" type="email" required></ion-md-input>
					<button class="button button-custom button-full" type="submit">Resend Email</button>
				</form>
			</div>
		</ion-content>
	</ion-modal-view>
</script>

<script type="text/ng-template" id="paymentInfoModal.html">
	<ion-modal-view class="home-view">
		<ion-header-bar class="bar-assertive-900">
			<div class="buttons buttons-left header-item"><span class="left-buttons">
	      <button class="customMenuBtn is-active" ng-click="closeModal()"><span></span></button>
	    </span></div>
	    <div class="title title-left header-item" style="left: 75px; right: 68px;"><i class="logoSideMenu"></i></div>
	  </ion-header-bar>
	  <ion-content scroll="false">
			<div class="shortHeader">
				<h1 class="title">Payments</h1>
			</div>
		</ion-content>
		<ion-content scroll="true" class="paymentInfoModal">
			<ion-list>
			  <div ng-repeat="item in paymentReceipts">
			  	<div class="item item-avatar">
  					<img src="img/sunlogo.png">
  					<div class="paymentInfo">
      				<h2>Askmonk</h2>
			      	<p ng-if="loginType=='user'">{{item.created_at | date:'MMM dd, yyyy'}}</p>
			      	<p ng-if="loginType=='monk'">{{item.dateOfPayment | date:'MMM dd, yyyy'}}</p>
			      </div>
			      <div class="paymentAmount" ng-if="loginType=='user'">Rs. {{item.amount}}</div>
			      <div class="paymentAmount" ng-if="loginType=='monk'">Rs. {{item.paymentAmount}}</div>
			    </div>
			  </div>
			  <div class="noStatusQuestion" ng-if="noPaymentFound">
      		<img src="img/icon.png" width="100px" />
      		<p class="noQuestionTitle" ng-if="loginType=='monk'">No Payment Receipts Found</p>
      	</div>
			</ion-list>
		</ion-content>
	</ion-modal-view>
</script>