<ion-view view-title="<i class='logoSideMenu'></i>">
	<ion-nav-bar class="bar-assertive-900">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="isComingFromSignUp"></button>
      <button class="customMenuBtn" ng-class="{'is-active':shouldGoBack}"><span></span></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button-clear ion-social-usd" ng-click="goToWallet()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
	<ion-content has-subheader="false">
		<div class="settingCtrl padding">
			<button class="button button-custom button-full" ng-click="logout()">Logout</button>
			<p>v.201511271230</p>
		</div>
	</ion-content>
</ion-view>