<ion-modal-view ng-controller="userDetailModalPopupCtrl">
	<ion-header-bar class="bar-assertive-900">
		<div class="buttons buttons-left header-item"><span class="left-buttons">
      <button class="customMenuBtn is-active" ng-click="closeModal()"><span></span></button>
    </span></div>
    <div class="title title-left header-item" style="left: 75px; right: 68px;"><i class="logoSideMenu"></i></div>
  </ion-header-bar>
	<ion-content scroll="false" class="has-header userDetailModal">
	  <div class="topPart">
      <div class="avatar">
        <img ng-src="{{profileImage}}"><!-- http://askmonk.in/mImages/skmagon.jpg -->
      </div>
      <div class="userInfo">
        <p>{{profileInfo.name}}</p>
        <p>{{profileInfo.email}}</p>
      </div>
    </div>
  </ion-content>
  <ion-content class="userDetailModalBottom" scroll="true">
    <div class="bottomPart">
      <dl>
        <dt>Age</dt>
        <dd>{{profileInfo.userDOB | ageFilter}}</dd>
      </dl>
      <dl>
        <dt>Zodiac</dt>
        <dd>{{profileInfo.moonSign}}</dd>
      </dl>
      <dl>
        <dt>Gender</dt>
        <dd>{{profileInfo.userGender}}</dd>
      </dl>
      <dl ng-if="profileInfo.userNumberOfChildren">
        <dt>Children</dt>
        <dd>{{profileInfo.userNumberOfChildren}}</dd>
      </dl>
      <dl ng-if="profileInfo.userMaritalStatus">
        <dt>Marriage</dt>
        <dd>{{profileInfo.userMaritalStatus}}</dd>
      </dl>
      <dl ng-if="profileInfo.userQualification">
        <dt>Education</dt>
        <dd>{{profileInfo.userQualification}}</dd>
      </dl>
      <dl>
        <dt>Birth Date</dt>
        <dd>{{profileInfo.userDOB | date : 'dd-MM-yyyy'}}</dd>
      </dl>
      <dl>
        <dt>Birth Time</dt>
        <dd>{{profileInfo.userBirthTime | date : 'h:mm a'}}</dd>
      </dl>
      <dl ng-if="profileInfo.userProfession">
        <dt>Profession</dt>
        <dd>{{profileInfo.userProfession}}</dd>
      </dl>
      <dl>
        <dt>Birth Place</dt>
        <dd>{{profileInfo.userBirthPlace}}</dd>
      </dl>
    </div>
	</ion-content>
</ion-modal-view>
