<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="yprofile">
			<div class="content pofilePic">
				<div class="avatar"><i class="ion-person"></i></div>
				<div class="yAnswerStatus">
					<span>20 Question Answered</span>
					<div class="yRating">
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star-half"></i>
						<i class="ion-ios-star-outline"></i>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-content class="row profileData">
		<dl>
		  <dt>Name:</dt>
		  <dd>Sunil Magon</dd>
		</dl>
		<dl>
		  <dt>Education:</dt>
		  <dd>IIT Roorkee (81 Batch),<br>Dual Degree Astrology</dd>
		</dl>
		<dl>
		  <dt>Occupation:</dt>
		  <dd>ONGC</dd>
		</dl>
		<dl>
		  <dt>Astrologer:</dt>
		  <dd>Past 12 years</dd>
		</dl>
		<dl>
		  <dt>Bio:</dt>
		  <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</dd>
		</dl>
	</ion-content>
</ion-view>
