<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-nav-bar class="bar-assertive-900">
    <ion-nav-buttons side="left">
      <button class="customMenuBtn is-active" ng-click="goBack()"><span></span></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button-clear ion-social-usd" ng-click="goToWallet()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
	<ion-content scroll="false">
		<div class="yprofile">
			<div class="content pofilePic">
				<div class="avatar monk"></div>
				<div class="yAnswerStatus">
					<button class="button button-custom-small button-askmonk profileEditBtn" ng-click="askQuestion()"> Ask Me Question</button>
					<div class="statics">
						<span class="answered">Answered<br/>{{monkProfileData.questionsAnswered ? monkProfileData.questionsAnswered : 0}} </span>
						<span class="views">Profile Views<br/>{{monkProfileData.profileViews ? monkProfileData.profileViews : 0}} </span>
					</div>
				</div>
			</div>
			<div class="subHeaderBottomContent">
				<div class="userName">{{monkProfileData.name}}</div>
				<div class="yRating">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-content class="row profileData paddingLRPlus21">
		<!-- <dl>
		  <dt>Name:</dt>
		  <dd>Sunil Magon</dd>
		</dl> -->
		<dl>
		  <dt>Education:</dt>
		  <dd>{{monkProfileData.education}},<br>Certified Astrologer</dd>
		</dl>
		<dl>
		  <dt>Residence:</dt>
		  <dd>{{monkProfileData.residence}}</dd>
		</dl>
		<dl>
		  <dt>Astrologer:</dt>
		  <dd>{{monkProfileData.experience}} Years</dd>
		</dl>
		<dl>
		  <dt>Bio:</dt>
		  <dd class="bio">{{monkProfileData.bio}}</dd>
		</dl>
	</ion-content>
</ion-view>
