<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content class="row paddingLRPlus21">
		<div class="allTile">
			<div class="tile" ng-click="goToYogiProfile()">
				<div class="imagePic">
					<img src="img/monk.jpg" width="45%" />
				</div>
				<div class="name">
					<p>Sunil Magon</p>
				</div>
				<div class="rating">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</div>
				<div class="statics">
					<div class="answered">Answered<br/>20</div>
					<div class="accepted">Accepted<br/>10</div>
				</div>
			</div>
			<div class="tile" ng-click="goToYogiProfile()">
				<div class="imagePic">
					<img src="img/monk.jpg" />
				</div>
				<div class="name">
					<p>Sunil Magon</p>
				</div>
				<div class="rating">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</div>
				<div class="statics">
					<div class="answered">Answered<br/>20</div>
					<div class="accepted">Accepted<br/>10</div>
				</div>
			</div>
			<div class="tile" ng-click="goToYogiProfile()">
				<div class="imagePic">
					<img src="img/monk.jpg" width="45%" />
				</div>
				<div class="name">
					<p>Sunil Magon</p>
				</div>
				<div class="rating">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</div>
				<div class="statics">
					<div class="answered">Answered<br/>20</div>
					<div class="accepted">Accepted<br/>10</div>
				</div>
			</div>
			<div class="tile" ng-click="goToYogiProfile()">
				<div class="imagePic">
					<img src="img/monk.jpg" width="45%" />
				</div>
				<div class="name">
					<p>Sunil Magon</p>
				</div>
				<div class="rating">
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star"></i>
					<i class="ion-ios-star-half"></i>
					<i class="ion-ios-star-outline"></i>
				</div>
				<div class="statics">
					<div class="answered">Answered<br/>20</div>
					<div class="accepted">Accepted<br/>10</div>
				</div>
			</div>
		</div>
	</ion-content>
	<div ng-click="askQuestion()" class="floatingButton" ng-class="{'floatBtn':floatingBtnAction}">
		<!-- <i class="icon ion-ios-compose-outline"></i> -->
		<img src="img/flyout_icon.jpg" />
	</div>
</ion-view>
