<ion-view class="home-view" view-title="<i class='logoSideMenu'></i>">
	<ion-content scroll="false">
		<div class="yprofile">
			<div class="content pofilePic">
				<div class="avatar monk">
					<!-- <i class="ion-person"></i> -->
					<!-- <img src="/www/img/monk.jpg" /> -->
				</div>
				<div class="yAnswerStatus">
					<span>20 Question Answered</span>
					<div class="yRating">
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star"></i>
						<i class="ion-ios-star-half"></i>
						<i class="ion-ios-star-outline"></i>
					</div>
					<button class="button button-custom-small button-askmonk profileEditBtn" ng-click="askQuestion()"> Ask Me Question</button>
				</div>
				<div class="userName">Sunil Magon</div>
			</div>
		</div>
	</ion-content>
	<ion-content class="row profileData paddingLRPlus21">
		<!-- <dl>
		  <dt>Name:</dt>
		  <dd>Sunil Magon</dd>
		</dl> -->
		<dl>
		  <dt>Education:</dt>
		  <dd>IIT Roorkee (81 Batch),<br>Certified Astrologer</dd>
		</dl>
		<dl>
		  <dt>Occupation:</dt>
		  <dd>ONGC</dd>
		</dl>
		<dl>
		  <dt>Astrologer:</dt>
		  <dd>Past 20 years</dd>
		</dl>
		<dl>
		  <dt>Bio:</dt>
		  <dd>I have been practising Astrology for the last 20 years with a single aim of solving the problems of people and helping them with clear solutions for a better living. Askmonk gives me the exact solution to pursue my passion.</dd>
		</dl>
	</ion-content>
</ion-view>
